.img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1jFSd9qvjw4qYcXBB4EM-xZ1DhDjvsM0MVaZqKFbVaX_BHIHWG8uZQ87dNG8sM6acC0&usqp=CAU);
    background-size: cover;
    width: 100%;
    height: max-content;
}

.borders {
    justify-content: center;
    border: 5px solid rgb(240, 234, 234);
}

.form {
    justify-content: center;
    height: 120%;
    width: 500px;
}


.form-group {
    font: 1.5em sans-serif;
    font-style: italic;
}

.sub {
    align-items: center;
    margin-left: 160px;
    margin-top: -15px;

}