.foot{
    text-align: center;
    font-size: larger;
    height: 30px; 
    background-color: #c4c8cd;
    text-decoration: none;
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    
}



