<div class="container-fluid shadow-lg p-4 mb-1  bg-body rounded head">
    <div class="headers">
        <div class="d-flex justify-content-around align-items-center mt-2">
            <div style="float:left; padding-left:1px;">
                <b>Flight Booking</b>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhAmqaaJt57tN3DRiHCAuaYqlw2FpxYqJXES8QPhwTS5qchzcGnw6-ye27Qn84H51nMuU&usqp=CAU"
                    alt="Flight" width="80" height="60" style="padding-left: 10px;">
            </div>

            <div>
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </div>

            <div>
                <a class="nav-link active" aria-current="page" href="/flightsDetails">Flights Details</a>
            </div>

            <div>
                <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </div>

            <div>
                <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
            </div>

            <div>
                <a href="/register">
                    <button class="border border-2 border-primary btn btn-outline-primary"
                        style=" font-size:x-large; color: black;">Register</button>
                </a>
            </div>

            <div>
                <a href="/login">
                    <button class=" border border-2 border-primary btn btn-outline-primary"
                        style=" font-size:x-large; color: black;">Login</button>
                </a>
            </div>
        </div>
    </div>
</div>