<br><br><br>
<div class="body">
  <br><br>
  <div class="container  border">
    <br>
    <form #searchForm="ngForm" class="example-form">
      <div class="container">
        <div class="row">

          <div class="col-sm-2">
            <label for="inputState" class="form-label">
              <h1 style="margin-left:230px; margin-top: 10px;"><b>FROM</b></h1>
            </label>

            <mat-form-field appearance="fill" style="top:7%; left: 100%">
              <mat-label>Select an option</mat-label>
              <mat-select disableRipple id="from" name="fromLocation" ngModel #startPointL="ngModel" [(value)]="fromSelected">
                <mat-option *ngFor="let items of flight" value="{{items.startPoint}}" id="{{items.id}}">
                  {{items.startPoint}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-sm-2">
            <label for="inputState" class="form-label">
              <h1 style="margin-left:580px; margin-top: 10px;"><b>TO</b></h1>
            </label>

            <mat-form-field appearance="fill" style="top:7%; left: 490px">
              <mat-label>Select an option</mat-label>
              <mat-select id="to" name="toLocation" ngModel #destinationL="ngModel">
                <mat-option value="{{items.destination}}" id="{{items.id}}" *ngFor="let items of flight">
                  {{items.destination}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <button class="btn btn-primary  btn-lg  rounded-pill" type="button" aria-expanded="false"
          style="left: 60%;  margin-top: 85px; margin-left: 420px;  width: 20%;height: 50px;">
          <a [routerLink]="['/flights/search']" [queryParams]="{startPoint:startPointL.value,destination:destinationL.value}"
            style="text-decoration: none; color:white;">
            <b> Search </b></a>
        </button>

      </div>
    </form>
  </div>
</div>