.border {
    border-radius: 10px;
    background-color: #ffff;
    height: 40%;
    width: 100%;
    
}

.body {
    height: 680px;
    background-color: rgb(2, 2, 40);
    
}

.example {
    top: 15%;
    position: absolute;
}

.WebContainer {
    width: 100%;
    min-width: 1000px;
    height: auto;
}

.articles {
    width: 90%;
    height: auto;
    margin: auto;
}