.img {
    background-image: url(https://thumbs.dreamstime.com/b/model-plane-airplane-pastel-color-background-flat-lay-design-toy-blue-concept-153883317.jpg);
    background-size: cover;
    width: 100%;
    height: 580px;
}

/* .con{
    margin-top: px;
} */